@font-face {
    font-family: 'Public Sans';
    src: url('../../../assets/fonts/PublicSans-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.confirm-password-container{
    padding: 40px 240px 20px;
    width: 100%;
    height: 100vh;
}

.confirm-password-container .confirm-password{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.confirm-password .confirm-password__header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.confirm-password__header .logo-container{
    display: flex;
    align-items: center;
    gap: 8px;
}

.logo-container .logoSMA{
    width: 29px;
    height: 40px;
    flex-shrink: 0;
}

.logo-container .logo2{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
}

.logo2 .textSMA{
    width: 94px;
    height: 16px;   
}

.logo2 .power{
    display: flex;
    align-items: center;
    gap: 3px;
}

.power .powered-by{
    height: 8px;
    flex: 1 0 0;
}

.power .FPT-Online{
    width: 35.589px;
    height: 12.727px;
}

.confirm-password__header .dropdown-menu{
    position: relative;
}

.dropdown-menu .menu{
    display: flex;
    padding: 10px 4px;
}

.menu:hover{
    cursor: pointer;
}

.flag{
    margin-right: 8px;
}

.language{
    margin-right: 4px;
    color: #9EA1A5;

    /* Body-small/Regular */
    font-family: Public Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 16.8px */
}

.dropdown-menu .dropdown{
    padding: 8px 10px;
    width: fit-content;
    display: flex;
    flex-direction: column;
    gap: 6px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    position: absolute;
    top: 40px;
    right: 0;
    visibility: hidden;
}

.dropdown .submenu{
    display: flex;
    padding: 12px;
    border-radius: 4px;
}

.submenu:hover{
    background: #048845;
    cursor: pointer;
}

.submenu:hover .language{
    color: #FFF;
}

.confirm-password .confirm-password__content{
    margin: 0 auto;
}

.confirm-password__content {
    width: 480px; /* Độ rộng form tương đương Figma */
    margin: 0 auto;
}

.confirm-password__content .back-to-home {
    
    color: #7B7D80;
    
    /* Body-sm/Semi */
    font-family: "Public Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px; /* 150% */
    display: flex;
    align-items: center;
    gap: 4px;
    text-decoration: none;

    margin-bottom: 40px;
}

.confirm-password__content .content__title {
    font-family: 'Public Sans';
    font-size: 32px;
    color: #000;

    /* H4/Semi */
    font-style: normal;
    font-weight: 600;
    line-height: 120%; /* 38.4px */

    margin-bottom: 8px;
}

.confirm-password__content .content__description {
    font-family: 'Public Sans';
    font-size: 16px;
    color: #9EA1A5;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 19.2px */

    margin-bottom: 40px;
}

#confirm-password-form .password-text {
    font-family: 'Public Sans';
    font-size: 14px;
    font-weight: 600;
    color: #000;
    font-style: normal;
    line-height: 120%; /* 16.8px */

    margin-bottom: 6px;
}

#confirm-password-form .password-container {
    position: relative;
    margin-bottom: 12px;
}

#confirm-password-form .password-input {
    width: 100%;
    height: 48px;
    padding: 12px 40px 12px 12px;
    border-radius: 8px;
    border: 1px solid #DFE3E8;
    background: #FFF;
    font-family: 'Public Sans';
    font-size: 16px;
    caret-color: #048845;
    
}

.password-input::placeholder {
    color: #CBCFD3;
}

.password-input:focus {
    outline: none;
    border: none;
    border: 1px solid #8CC8A9 !important;
    background: #FFF;
    box-shadow: 0 0 0 4px #E6F3EC;
}

.password-container .eye-on,
.password-container .eye-off {
    position: absolute;
    right: 12px;
    top: 12px;
    cursor: pointer;
}

.password-container .eye-off {
    display: none; 
}

.password-input::-ms-reveal,
.password-input::-ms-clear {
    display: none !important;
}

.error-container {
    display: none;
    align-items: center;
    gap: 8px;
    margin-bottom: 8px;
}

.error-container img {
    width: 16px;
    height: 16px;
    display: none; 
}

.error-container .error-text {
    font-family: 'Public Sans';
    font-size: 14px;
    font-weight: 400;
}

.state-gray img:nth-child(1) { display: block; }
.state-gray .error-text { color: #9EA1A5; }

.state-red img:nth-child(2) { display: block; }
.state-red .error-text { color: #BA1A1A; }

.state-green img:nth-child(3) { display: block; }
.state-green .error-text { color: #048845; }


#btn_submit {
    width: 100%;
    height: 48px;
    border-radius: 8px;
    background: #048845;
    border: none;
    color: #FFF;
    font-family: 'Public Sans';
    font-size: 16px;
    font-weight: 600;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    transition: 0.2s;
}

#btn_submit:disabled {
    opacity: 0.7;
}

#btn_submit:not(:disabled):hover {
    background: #047B3E;
    box-shadow: 0 0 0 2px #E5E5E5;
    cursor: pointer;
}

#btn_submit .spinner{
    width: 16px;
    height: 16px;
    border: 2px solid #FFF;
    border-top: 2px solid transparent;
    border-radius: 50%;
    display: none;
    animation: spin 0.8s linear infinite;
}

#btn_submit.loading .spinner { display: inline-block; }


.confirm-password .confirm-password__footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;

    width: 100vw; 
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);

    color: #9EA1A5;
}

.confirm-password__footer .line23,
.confirm-password__footer .line2,
.confirm-password__footer .line3{
    text-decoration: none;
    display: flex;
    gap: 8px;
}

.confirm-password__footer .line1{
    /* Caption */
    font-family: "Public Sans";
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; /* 150% */
}

.confirm-password__footer a{
    text-decoration: none;
    color: #9EA1A5;
    text-align: right;

    /* Body-caption/Regular */
    font-family: "Public Sans";
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 14.4px */
}