@font-face {
    font-family: 'Public Sans';
    src: url('../../../assets/fonts/PublicSans-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.confirm-password-container{
    padding: 40px 240px 20px;
    width: 100%;
    height: 100vh;
}

.confirm-password-container .confirm-password{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.confirm-password .confirm-password__header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.confirm-password__header .logo-container{
    display: flex;
    align-items: center;
    gap: 8px;
}

.logo-container .logoSMA{
    width: 29px;
    height: 40px;
    flex-shrink: 0;
}

.logo-container .logo2{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
}

.logo2 .textSMA{
    width: 94px;
    height: 16px;   
}

.logo2 .power{
    display: flex;
    align-items: center;
    gap: 3px;
}

.power .powered-by{
    height: 8px;
    flex: 1 0 0;
}

.power .FPT-Online{
    width: 35.589px;
    height: 12.727px;
}

.confirm-password__header .dropdown-menu{
    position: relative;
}

.dropdown-menu .menu{
    display: flex;
    padding: 10px 4px;
}

.menu:hover{
    cursor: pointer;
}

.flag{
    margin-right: 8px;
}

.language{
    margin-right: 4px;
    color: #9EA1A5;

    /* Body-small/Regular */
    font-family: Public Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 16.8px */
}

.dropdown-menu .dropdown{
    padding: 8px 10px;
    width: fit-content;
    display: flex;
    flex-direction: column;
    gap: 6px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    position: absolute;
    top: 40px;
    right: 0;
    visibility: hidden;
}

.dropdown .submenu{
    display: flex;
    padding: 12px;
    border-radius: 4px;
}

.submenu:hover{
    background: #048845;
    cursor: pointer;
}

.submenu:hover .language{
    color: #FFF;
}

.confirm-password .confirm-password__content{
    margin: 0 auto;
}

.confirm-password .confirm-password__footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.confirm-password__footer .line23,
.confirm-password__footer .line2,
.confirm-password__footer .line3{
    display: flex;
    gap: 8px;
}