*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.news{
    width: 1075px;
    margin: 20px;
    /* border: 1px solid #000; */
}

.news .news__title{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.news__title h2{
    border-bottom: 1px solid #9F224E;
}

.news .news__item-space1{
    width: 1075px;
    height: 202px;
    display: flex;
    gap: 16px;

}

.news__item-space1 .news__item1{
    width: 257px;
}

.news__item1 img{
    width: 257px;
    height: 154px;
    margin-bottom: 10px;
}

.news__item1 h2{
    font-size: 15px;
    font-weight: 700;
    color: #222222;
    width: 100%;
}

.news .line1{
    border: none;
    border: 1px dashed #B8B8B8;
    margin: 20px 0;
}

.news .news__item-space2{
    width: 100%;
    display: flex;
    gap: 16px;
}

.news__item-space2 .news__item-subspace2{
    width: 257px;
}

.news__item-subspace2 .line2{
    border: none;
    border: 1px dashed #B8B8B8;
    margin: 16px 0;
}

.news__item-subspace2 .news__item2{
    display: flex;
    gap: 10px;
    width: 100%;
}

.news__item2 img{
    width: 80px;
    height: 48px;
}

.news__item2 h2{
    font-size: 13px;
    font-weight: 400;
    width: 100%;
}