@font-face {
    font-family: 'Public Sans';
    src: url('../../../assets/fonts/PublicSans-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overscroll-behavior: none; /* Chặn hiệu ứng trang web bị "nảy" khi kéo thả */
}

.sign-up__wrapper{
    min-height: 100vh;
    background-image: url('../../../assets/images/bg-sign-up.png');
    background-size: cover;
    background-position: left; 
    background-repeat: no-repeat;  
    background-attachment: fixed;  

    display: flex;
}

.sign-up__wrapper .sign-up{
    margin: 0 auto;
    margin-top: 40px;
    display: flex;
    height: 920px;
}

.sign-up .left-side{
    width: 450px;
    padding: 40px;
    background-color: #FCFCFD;
    border-radius: 16px 0 0 16px;

    display: flex;
    flex-direction: column;
}

.left-side .left-side__header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.left-side__header .logo-container{
    display: flex;
    align-items: center;
    gap: 8px;
}

.logo-container .logoSMA{
    width: 29px;
    height: 40px;
    flex-shrink: 0;
}

.logo-container .logo2{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
}

.logo2 .textSMA{
    width: 94px;
    height: 16px;   
}

.logo2 .power{
    display: flex;
    align-items: center;
    gap: 3px;
}

.power .powered-by{
    height: 8px;
    flex: 1 0 0;
}

.power .FPT-Online{
    width: 35.589px;
    height: 12.727px;
}

.left-side__header .dropdown-menu{
    position: relative;
}

.dropdown-menu .menu{
    display: flex;
    padding: 10px 4px;
}

.flag{
    margin-right: 8px;
}

.language{
    margin-right: 4px;
    color: #9EA1A5;

    /* Body-small/Regular */
    font-family: Public Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 16.8px */
}

.dropdown-menu .dropdown{
    padding: 8px 10px;
    width: fit-content;
    display: flex;
    flex-direction: column;
    gap: 6px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    position: absolute;
    top: 40px;
    right: 0;
    visibility: hidden;
}

.dropdown .submenu{
    display: flex;
    padding: 12px;
    border-radius: 4px;
}

.submenu:hover{
    background: #048845;
}

.submenu:hover .language{
    color: #FFF;
}

.left-side__content .back-to-home{
    display: flex;
    align-items: center;
    gap: 4px;

    color: var(--colors-text-gray, #9EA1A5);
    text-align: center;

    /* Body-sm/Semi */
    font-family: "Public Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */   
    text-decoration: none;

    margin-bottom: 8px;
}

.back-to-home #back-step2{
    display: none;
}

.left-side__content .title{
    color: var(--colors-text-gray-inverse, #000);

    /* H4/Semi */
    font-family: "Public Sans";
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%; /* 38.4px */

    margin-bottom: 8px;
}

.left-side__content .choose-options{
    color: var(--colors-text-gray, #9EA1A5);

    /* Body-medium/Regular */
    font-family: "Public Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 19.2px */

    margin-bottom: 20px;
}

.left-side__content #content-description-step2{
    display: none;
}

.left-side__content .ads-pub-options{
    display: flex;
    gap: 8px;
    align-items: center;

    border: 2px solid #F0F2F4;
    border-radius: 8px;
    padding: 16px;
    margin-bottom: 12px;
}

.left-side__content .ads-option{
    border: 2px solid #048845;
}

.ads-pub-options .ads-pub-containers{
    display: flex;
    gap: 16px;
    align-items: center;
}

.ads-pub-containers .ads-pub{
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.ads-pub .ads-pub__title{
    color: #000;

    /* Body-small/Bold */
    font-family: "Public Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 16.8px */
}

.ads-pub .ads__title{
    color: #048845;
}

.ads-pub .ads-pub__description{
    color: #9EA1A5;

    /* Body-caption/Regular */
    font-family: "Public Sans";
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 14.4px */
}

.ads-pub-options .rdo-button{
    accent-color: #048845;
}

.left-side__content .btn_action{

    display: flex;
    height: 48px;
    padding: 12px 10px;
    justify-content: center;
    align-items: center;
    align-self: stretch;

    border-radius: 8px;
    background: #048845;

    color: #FFF;

    /* Body-medium/Semi */
    font-family: "Public Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%; /* 19.2px */
    
    width: 100%;
    border: none;

    margin-bottom: 20px;
}

.left-side__content .have-account{
    text-align: center;
    color: #9EA1A5;

    /* Body-small/Regular */
    font-family: "Public Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 16.8px */
}

.have-account a{
    color: #048845;

    /* Body-xs/Semi */
    font-family: "Public Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: none;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font;
}

.left-side .left-side__footer{
    height: fit-content;
    margin-top: auto;
}

.left-side__footer .progress-text__container{
    display: flex;
    align-items: center;
    gap: 4px;
    margin-bottom: 4px;
}

.progress-text__container .text1{
    color: #9EA1A5;

    /* Body-caption/Regular */
    font-family: "Public Sans";
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 14.4px */
}

.progress-text__container .text2{
    color: #048845;

    /* Body-caption/Semi */
    font-family: "Public Sans";
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%; /* 14.4px */
}

.left-side__footer .progress-step{
    display: flex;
    align-items: center;
    gap: 8px;
}

.progress-step .step{
    height: 6px;
    flex: 1 0 0;

    border-radius: 8px;
    background-color: #E8E8E8;
}

.progress-step .step1{
    background-color: #048845;
}

.sign-up .right-side{
    width: 750px;
    padding: 40px;
    border-radius: 0 16px 16px 0;

    background: 
        url('../../../assets/images/ads-zone-signup-advertiser.png'),
        linear-gradient(180deg, #F7F7F7 0%, #F5F5F5 90.1%);

    display: flex;
    flex-direction: column;
}

.right-side .right-side__header{

}

.right-side__header2{
    display: none;
}

.right-side__header .right-side__title{
    color: #048845;
    text-align: center;

    /* H3/Bold */
    font-family: "Public Sans";
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 48px */

    margin-bottom: 8px;
}

.right-side__header .right-side__description{
    color: #7B7D80;
    text-align: center;

    /* Body-large/Regular */
    font-family: "Public Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 21.6px */
}

.right-side .right-side__footer{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;

    margin-top: auto;
}

.right-side__footer .footer-line12__container{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.footer-line12__container .footer-line1{
    display: flex;
    gap: 8px;
    align-items: center;
}

.footer-line1 .img-container{
    display: flex;
}

.img-container .ic-person{
    width: 32px;
    height: 32px;
    aspect-ratio: 1/1;

    border-radius: 32px;
    border: 1px solid lightgray;

    transition: transform 0.3s ease-in-out;
}

.ic-person2, .ic-person3{
    margin-left: -8px;
}

.ic-person:hover{
    z-index: 999;
    transform: scale(1.1);
}

.footer-line12__container p{
    color: #9EA1A5;
    text-align: center;

    /* Body-large-X/Regular */
    font-family: Public Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 24px */

    white-space: nowrap;
}

.footer-line12__container span{
    color: #000;

    /* Body-large-X/Regular */
    font-family: Public Sans;
    /* font-size: var(--Typography-Font-size-fs-base-1, 18px); */
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}

.right-side__footer .footer-slider{
    width: 100%;
    overflow: hidden;

    -webkit-mask-image: linear-gradient(to right, transparent 0%, black 20%, black 80%, transparent 100%);
    mask-image: linear-gradient(to right, transparent 0%, black 20%, black 80%, transparent 100%);

    margin-bottom: 25px;
}

.footer-slider .slider-track{
    display: flex;
    width: max-content;
    animation: scroll 27s linear infinite;
}

.footer-slider .slider-group{
    display: flex;
    gap: 50px;
    padding-right: 20px;
}

@keyframes scroll {
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(calc(-50%));
    }
}

.slider-track:has(.logo-brand:hover){
    animation-play-state: paused;
}

.logo-brand{
    display: block;


    filter: grayscale(100%);
    transition: filter 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.logo-brand:hover{
    filter: grayscale(0%);
    transform: scale(1.1);
}

/*----------------------- Ẩn form -----------------------*/
/* #select-option-form{ display: none; } */

#sign-up-ads-form{ display: none; }
/*----------------------- Ẩn form -----------------------*/

.left-side__content .sign-up-form{

}

.sign-up-form .input__text{
     color: #000;

    /* Body-small/Semi */
    font-family: "Public Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%; /* 16.8px */

    margin-bottom: 6px;
}

.input__text span{
    color: #BA1A1A;

    /* Body-small/Semi */
    font-family: "Public Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
}

.sign-up-form .input__place{
    display: flex;
    width: 100%;;
    height: 48px;
    padding: 12px;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;

    border-radius: 8px;
    border: 1px solid #DFE3E8;
    background: #FFF;

    margin-bottom: 12px;
}

.sign-up-form .input__place:last-of-type{
    margin-bottom: 20px;
}

.input__place::placeholder{
    color: #CBCFD3;

    /* Body-medium/Regular */
    font-family: "Public Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 19.2px */
}

.input__place:focus{
    outline: none;
    border: none;
    border-radius: 8px;
    border: 1px solid #8CC8A9 !important; 
    background: #FFF;
    box-shadow: 0 0 0 4px #E6F3EC;
}

.sign-up-form .agree-container{
    display: flex;
    gap: 8px;

    margin-bottom: 8px;
}

.agree-container .agree-checkbox{
    height: 16px;
    width: 16px;

    appearance: none;

    border-radius: 4px;
    border: none;
    border: 1px solid #CBCFD3 !important;
    background: #FCFCFD;
}

.agree-checkbox:checked{
    background-color: #048845;
    background-image: url(../../../assets/images/ic-checked.svg);
}

.agree-container p{
    color: #9EA1A5;

    /* Body-small/Regular */
    font-family: "Public Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 16.8px */
}

.agree-container p a{
    color: #048845;

    /* Body-small/Regular */
    font-family: "Public Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
}

.sign-up-form .select{
    position: relative;
    width: 100%;
}

.select .select__title{
    display: flex;
    justify-content: space-between;

    height: 48px;
    padding: 12px;
    align-items: center;
    align-self: stretch;

    border-radius: 8px;
    border: 1px solid #DFE3E8;
    background-color: #fff;

    margin-bottom: 12px;
}

.select__title .select__text{
    color: #CBCFD3;

    /* Body-medium/Regular */
    font-family: "Public Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 19.2px */
}

.select__title .ic-small-fill{
    width: 15px;
    height: 15px;
}

.select__title .ic-up-small-fill{
    display: none;
}

.select .select__dropdown{
    padding: 4px 6px;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);

    position: absolute;
    bottom: -290px;
    display: none;
    width: 100%;
}

.select__dropdown .search{
    border: 1px solid #dfe3e8;
    border-radius: .5rem;
    color: #222;
    outline: 0;
    padding: 10px 8px;
    width: 100%;
}

.select__dropdown .list{
    list-style: none;
    height: 245px;
    overflow: hidden;
    overflow-y: auto;
}

.list .item{
    display: flex;
    padding: 10px 10px 10px 8px;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    flex: 1 0 0;

    color: #637381;

    /* Body-medium/Regular */
    font-family: "Public Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 19.2px */
}

.list .item-not-found{
    display: none;
}

.item:hover{
    background-color: #F0F2F4;
    color: #000;
}

.item.active{
    background-color: #F7F7F8;
    border-radius: 6px;
}

.sign-up-form .invalid-feedback{
    color: #BA1A1A;

    /* Body-small/Regular */
    font-family: "Public Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 16.8px */

    margin-bottom: 12px;

    display: none;
}

.invalid-feedback:last-of-type{
    margin-bottom: 20px;
}

#btn_sign-up{
    display: flex;
    gap: 8px;
}

#btn_sign-up:disabled{
    opacity: 0.7;
}

#btn_sign-up .spinner{
    width: 16px;
    height: 16px;
    border: 2px solid #FFF;
    border-top: 2px solid transparent;
    border-radius: 50%;
    display: none;
    animation: spin 0.8s linear infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

#btn_sign-up.loading .spinner {
    display: inline-block;
}



